nginx:
    image: index.alauda.cn/library/nginx
    links:
        - mysql
        - redis
        - phpfpm
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /var/www/html:/usr/share/nginx/html
        - ./nginx.conf:/etc/nginx/nginx.conf
        - ./nginx.d:/etc/nginx/conf.d

mysql:
    image: index.alauda.cn/library/mysql
    environment:
        MYSQL_ROOT_PASSWORD: qazasdedc123
    ports:
        - "3306:3306"
    volumes:
        - ./mysql.cnf:/etc/mysql/my.cnf
        - ./mysql.d:/etc/mysql/conf.d
        - /var/mysql:/var/lib/mysql

workplace:
    image: workplace:v0.1
    volumes:
        - /var/www/html:/var/www/html

redis:
    image: index.alauda.cn/library/redis
    ports:
        - "6379:6379"

phpfpm:
    image: php-fpm:v5.6
    #image: php-fpm:v7.03
    links:
        - mysql
    volumes:
        - ./php.ini:/usr/local/etc/php/php.ini
        - /var/www/html:/var/www/html
    ports:
        - "9000:9000"
